.App {
  text-align: center;
}

.center {
  display: inline-flex;
  justify-content: center;

}

.inline {
  float: left;
  }

.float {
  z-index: 0;
}
.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.left8{
  position: relative;
  left: -8%;
}
